.tabs dd {
    position: relative;
    top: 1px;
}

.tabs dd.active {
    border: 1px solid #ccc;
    border-bottom-style: none;
}

.tabs-content {
    border-top: 1px solid #ccc;
}

.sub-nav {
    background-color: #F2F2F2;
    padding: 10px;
}

