<div class="row">
		<div class="large-4 medium-12 columns">
			<h1>Projects</h1>
		</div>
		<div class="large-8 medium-12 columns">

			<form ng-submit="addProject()">
				<div class="row">
					<div class="large-12 columns">
						<p></p>
					</div>
				</div>
				<div class="row">
					<div class="medium-8 columns">
						<input type="text" ng-model="projectText" placeholder="Quick Project Title"/>
					</div>
					<div class="medium-2 columns">
						<input type="submit" value="Quick Project" class="button postfix" />
					</div>
					<div class="medium-2 columns">
					    <a ng-click="newProjectWindow()" class="button secondary postfix">New Project</a>
					</div>
				</div>

			</form>
			
			<div id="newProjectModal" class="reveal-modal" data-reveal>
              <h2>New Project</h2>
              <form ng-submit="addProject()">
              	  <div ng-include="'app/partials/project-form.html'" >
              	  </div>
                  <div class="row">
                      <div class="large-12 columns">
                          <div class="right">
                              <input type="submit" value="Save" class="button"/>
                          </div>
                      </div>
                  </div>
              </form>
              <a class="close-reveal-modal">&#215;</a>
            </div>

		</div>
	</div>

	<div class="row">
		<div class="large-12 medium-12 columns">
			<div class="row">
				<div class="medium-6 small-12 columns">
					<h5>Projects {{pager.pageStart()}} to {{pager.pageEnd()}} of {{projects.length}} projects.</h5>
				</div>
				<div class="medium-6 small-12 columns">
					<div class="right">
						<ul class="pagination">
							<li class="arrow" ng-class="{unavailable: !pager.canPrev()}">
								<a href ng-click="pager.prevPage()">&laquo;</a>
							</li>
							<li ng-repeat="n in range(pager.numberOfPages())" ng-class="{current: n==pager.currentPage}">
								<a href ng-bind="n+1" ng-click="pager.currentPage=n">1</a>
							</li>
							<li class="arrow" ng-class="{unavailable: !pager.canNext()}">
								<a href ng-click="pager.nextPage()">&raquo;</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Grid Example -->

			<div class="row">
				<div class="large-12 columns">
					<table style="width:100%">
						<thead>
							<tr>
								<th>Key</th>
								<th>Name</th>
								<th>Created</th>
								<th>Updated</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="project in projects | startFrom:pager.currentPage*pager.pageSize | limitTo:pager.pageSize">
								<td><a ng-href="#/project/{{project.id}}">{{project.key}}</a></td>
								<td><a ng-href="#/project/{{project.id}}">{{project.name}}</a></td>
								<td>{{project.created | date:'mediumDate'}}</td>
								<td>{{project.updated | parseDate | fromNow}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<div class="row">
				<div class="medium-6 small-12 columns">
					<h5>Projects {{pager.pageStart()}} to {{pager.pageEnd()}} of {{projects.length}} projects.</h5>
				</div>
				<div class="medium-6 small-12 columns">
					<div class="right">
						<ul class="pagination">
							<li class="arrow" ng-class="{unavailable: !pager.canPrev()}">
								<a href ng-click="pager.prevPage()">&laquo;</a>
							</li>
							<li ng-repeat="n in range(pager.numberOfPages())" ng-class="{current: n==pager.currentPage}">
								<a href ng-bind="n+1" ng-click="pager.currentPage=n">1</a>
							</li>
							<li class="arrow" ng-class="{unavailable: !pager.canNext()}">
								<a href ng-click="pager.nextPage()">&raquo;</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<hr />

		</div>
	</div>
