<div class="row">
                      <div class="large-12 columns">
                          <label>Name
                              <input type="text" name="name" ng-model="newProject.name"/>
                          </label>
                      </div>
                      <div class="large-12 columns">
                          <label>Key
                              <input type="text" name="key" ng-model="newProject.key"/>
                          </label>
                      </div>
                      
                      <div class="large-12 columns">
                          <label>Description
                              <textarea name="description" ng-model="newProject.description"></textarea>
                          </label>
                      </div>
                     </div>